[package]
name = "missing_signer_check"
version = "0.1.0"
authors = ["Samuel Moelius <sam.moelius@trailofbits.com>"]
description = "lint for https://github.com/coral-xyz/sealevel-attacks/tree/master/programs/0-signer-authorization"
edition = "2018"
publish = false

[lib]
crate-type = ["cdylib"]

[[example]]
name = "insecure"
path = "ui/insecure/src/lib.rs"

[[example]]
name = "recommended"
path = "ui/recommended/src/lib.rs"

[[example]]
name = "secure"
path = "ui/secure/src/lib.rs"

[dependencies]
clippy_utils = { git = "https://github.com/rust-lang/rust-clippy", rev = "0cb0f7636851f9fcc57085cf80197a2ef6db098f" }
dylint_linting = "2.0.7"
if_chain = "1.0.2"
solana-lints = { path = "../../crate" }

[dev-dependencies]
anchor-lang = "0.24.2"
assert_cmd = "2.0.4"
dylint_testing = "2.0.7"
predicates = "2.1.1"
tempfile = "3.3.0"

[workspace]

[package.metadata.rust-analyzer]
rustc_private = true
