name: Upgrade lints

on:
  schedule:
    - cron: 0 3 * * 5 # 5 = Saturday
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ssh-key: ${{ secrets.PR_SSH_KEY }}

      - name: Install cargo-dylint and dylint-link
        run: cargo install cargo-dylint dylint-link

      - name: Upgrade lints
        run: scripts/upgrade_lints.sh

      - name: Create pull request
        uses: peter-evans/create-pull-request@v6
        with:
          title: Upgrade lints
          token: ${{ secrets.PR_GITHUB_TOKEN }}
